section{
  max-width:800px;
  margin:30px auto;
  padding:15px;
  border:1px solid lightblue;
  background-color:ivory;
  text-align:center
    
}
ul{
  list-style-type:none;
  text-align:left;
  margin:auto;
  width:50%
}
.input-row{
  flex-wrap:wrap;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
  border:1px solid lightgray;
  padding:15px;
  background-color:lightblue
 
 }
#sign-text .input-row{
  flex-wrap:wrap;
  justify-content:space-evenly;
}
#sign-options .input-row{
  flex-wrap:wrap;
   justify-content:space-evenly;
}
#order-options .input-row{
  flex-wrap:nowrap;
  justify-content:space-evenly;
}
#order-summary{
  flex-direction:column;
 justify-content:space-evenly;
}
label{
  text-transform:uppercase;
  font-weight:600;
}
input, select{
  margin:auto;
text-align:center;
}

.radio{
  display:flex;
  align-items:center;
}
.strikethrough-demo{
  text-decoration:line-through
}

.input-container{
  display:flex;
  text-align:center;
  flex-direction:column;
  justify-content:space-around;
  border:1px solid lightgray;
  padding:10px;
  height:60px; 
  background-color:white;
}
.summary-container{
  display:flex;
  flex-direction:column;
 margin-bottom:30px;
  width:75%;
  align-items:center;
  
}
.text-summary td{
  height:30px;
  border:1px solid black;
  padding:5px 10px;
  background-color:white

 
}
.text-summary th{
  height:30px;

}

.button-container{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  padding-top:15px

}
.button-container *{
  height:40px;
  display:block;
  margin:0;

  display:flex;
  align-items:center;
  
}

.line1, .demo-line-1{
  font-family:impact; 
  color:red
}
.demo-line-1{
  font-size:3em
}
.line2{
  background-color:blue;
}

.line2, .demo-line-2{
  font-family:Calibri; 
  color:white;
  justify-content:middle
}

.demo-line-2{
  font-size:2.2em;
}
.demo-line-2 div{
  background-color:blue;
  width:150%;
  position:absolute
  
}

.line3, .demo-line-3{
  font-family:calibri; 
 }
.demo-line-3{
  font-size:4em;
  white-space: nowrap;//for demo
}

.font select{
  font-family:impact
}
.font2 select{
  font-family:calibri
}
.font3 select{
  font-family:roboto
}

button{
  margin-top:15px
}
.warning{
  color:red;
  font-weight:600;
  font-size:1.3em;
  width:65%;
  height:40px;
}

.sign-demo{
  width:300px;
  height:200px;
  border: 1px solid lightgray;
  display:flex; 
  padding:12.5px;
  overflow:hidden;
  position:relative;
  margin:auto;
  background-color:white
}
.demo-padding{
  border: 1px dashed grey;
  width:100%;
 
}
.sign-padding{
  height:100%;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:space-between; 
}
.sign-padding > div{
    flex: 1;
    display:flex;
    justify-content:center;
    align-items:center
}